@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray-100:#F3F5F7;
  --lightgray:#E8ECEF;
  --gray-200:#6C7275;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-gray-100: var(--gray-100);
  --color-lightgray: var(--lightgray);
  --color-gray-200: var(--gray-200);
}

.no-scrollbar::-webkit-scrollbar {
  display: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #111827;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #000;
}

@theme {
  --font-poppins-family: var(--font-poppins);
  --font-inter-family:var(--font-inter);
}

@utility font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

@utility font-inter {
  font-family: var(--font-inter), sans-serif;
}

body {
  /* font-family: font-inter; */
  width: 100%;
  overflow-x: hidden;
}

.page-content-container {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.pagination .swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: white !important;
  opacity: 0.6 !important;
  border-radius: 9999px !important;
  transition: all 0.3s ease;
}

.pagination .swiper-pagination-bullet-active {
  width: 28px !important;
  height: 8px !important;
  opacity: 1 !important;
}
